@import '@/styles/variables.sass'

.wordList
  position: relative
  z-index: 2
  display: flex
  flex-direction: row
  align-items: center
  height: 100%
  width: 100%

  &.gameField
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5)
