@import '@/styles/variables.sass'

.sentenceList

  &__header
    font-weight: 600
    display: flex
    align-items: center
    gap: 8px
    margin-bottom: 4px

  &__count
    padding: 0 10px
    border-radius: 8px

  &__item
    position: relative
    font-size: 0.875rem

    &::before
      content: ' '
      position: absolute
      left: -8px
      top: 50%
      transform: translateY(-50%)
      width: 4px
      height: 4px
      border-radius: 50%
      background-color: $light-gray-color

.success
  color: $success-color

.error
  color: $error-color
