@import '@/styles/variables.sass'

.wordItem
  position: relative
  display: flex
  align-items: center
  justify-content: center
  height: 36px
  background-color: $light-color
  border: 1px solid $light-gray-color
  cursor: grab
  user-select: none
  z-index: 2
  background-repeat: no-repeat

  &__dragging
    opacity: 0.5
    border: 2px solid $light-gray-color

  &__textOverlay
    padding: 0 4px
    background-color: rgba(255, 255, 255, 0.7)
    border-radius: 4px

.error
  border: 1px solid $error-color

.success
  border: 1px solid $success-color

.disabled
  cursor: default
