@import '@/styles/variables.sass'

.wordItem
  position: relative
  display: flex
  align-items: center
  justify-content: center
  height: 36px
  background-color: $light-color
  border: 1px solid $light-gray-color
  border-bottom-width: 2px
  cursor: pointer
  user-select: none
  z-index: 2

.error
  border-bottom: 2px solid $error-color

.success
  border-bottom: 2px solid $success-color

.disabled
  cursor: default
