@import '@/styles/variables.sass'

.game
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: $white-color
  flex-grow: 1
  height: 100%

  &__wrapper
    display: flex
    flex-direction: column
    align-items: center
    gap: 20px
    width: 100%
    max-width: 680px

  &__sentenceHints
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    gap: 10px
    height: 24px
