@import '@/styles/variables.sass'

.button
  padding: 12px 28px
  margin: 0 auto
  background-color: $accent-color
  color: $white-color
  border: none
  cursor: pointer
  transition: opacity 0.3s, background-color 0.3s
  text-transform: uppercase
  font-weight: 600
  width: fit-content

  @media(any-hover: hover)
    &:hover
      opacity: 0.9

  &:disabled
    background-color: $light-gray-color
    pointer-events: none
