@import '@/styles/variables.sass'

.wordBank
  box-sizing: content-box
  height: 36px
  max-width: 680px
  width: 100%
  border-bottom: 2px solid $light-gray-color
  border-top: 2px solid $light-gray-color
  padding: 4px 0
