@import '@/styles/variables.sass'

.result
  display: flex
  flex-direction: column
  gap: 20px
  margin: 20px auto 0
  padding: 30px 40px
  width: 500px
  background-color: $white-color

  &__image
    max-width: 120px

  &__levelName
    font-weight: 700
    font-style: italic

  &__levelInfo
    display: flex
    align-items: center
    flex-direction: column
    gap: 12px
