@import '@/styles/reset.sass'
@import '@/styles/variables.sass'
@import '@/styles/mixins.sass'

#root
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height: 1.5
  font-weight: 400
  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  min-width: 100vw
  min-height: 100vh

root
  @include breakpoint(mobile)
    font-size: 14px

body
  margin: 0
  display: flex
  flex-direction: column
  place-items: center
  min-width: 320px
  min-height: 100vh
  background-color: $light-color

  @include scrollbar

.container
  display: flex
  flex-direction: column
  width: 100%
  max-width: 1320px
  padding: 0 16px
  margin: 0 auto
  flex: 1

  @include breakpoint(mobile)
    padding: 0 8px

h1
  font-size: 1.5rem
  font-weight: 500
